.container {
  // height: calc(100vh - var(--header-height-big) - var(--gap) * 2);
  // height: 80vh;
  height: 80vh;
  border: 1px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.scene {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  padding: 30px;
  background-color: grey;
  max-width: 800px;
  min-height: 300px;
  width: 100%;
}

.field1 {
  display: block;
  position: relative;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  width: 120px;
  display: flex;
  justify-content: flex-start;

  @media only screen and (max-width: 600px) {
    margin-left: -16px;
  }
}

.field2 {
  display: block;
  position: relative;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid green;
  transform: translateX(-20px);
}

.field3 {
  width: auto;
  display: block;
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  border: 1px solid green;
  margin-left: auto;

  @media only screen and (max-width: 600px) {
    margin-right: -16px;
  }
}
