.ball {
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  // background-color: green;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: -10%;
  // top: 20% !important;
  // left: 50% !important;
}

.clipCircle {
  position: absolute;
  padding: 0;
  top: -16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  clip-path: circle(30px at center);
}

.wrapper {
  transform: rotateZ(-32deg);
  width: 0;
  height: 0;
  top: 50px;
  left: 50px;
  position: absolute;
  perspective-origin: 0 0;
  perspective: 80px;
}

.circle {
  box-shadow:
    -20px -30px 100px 0 rgba(0, 0, 0, 0.9) inset,
    -75px -100px 107px 0 rgba(0, 0, 0, 0.3) inset,
    75px 100px 127px 0 rgba(255, 255, 255, 0.23) inset;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &::before {
    opacity: 0.2;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    background-image: url(https://i.stack.imgur.com/ayCw7.png);
    background-size: 30px 30px;
  }

  &::after {
    box-shadow:
      0 0 42px 5px rgba(255, 255, 255, 0.7),
      0 0 7px 6px rgba(255, 255, 255, 0.9);
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
  }
}
