.header {
  height: var(--header-height-big);
  position: sticky;
  top: 0;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 18px;
  padding: 18px;

  & * {
    height: 100%;
  }
}
