.container {
  display: flex;

  --checkbox-height: 25px;
  --color: #34b93d;
  padding: 5px 5px;
  background-color: white;
  color: black;
  border-radius: 5px;

  &, & span, & input, & label {
    cursor: pointer;
  }

  & span {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * 0.05) solid grey;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease 0.2s;
    white-space: nowrap;
  }

  & span::before,
  & span::after {
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * 0.2);
    background-color: var(--color);
    display: inline-block;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    transition: opacity ease 0.3;
  }

  & span::before {
    top: calc(var(--checkbox-height) * 0.72);
    left: calc(var(--checkbox-height) * 0.41);
    transform: rotate(-135deg);
  }
  & span::after {
    top: calc(var(--checkbox-height) * 0.37);
    left: calc(var(--checkbox-height) * 0.05);
    transform: rotate(-45deg);
  }

  & input[type='checkbox']:checked + span,
  & span.checked {
    border-color: var(--color);
  }

  & input[type='checkbox']:checked + span::after,
  & span.checked::after {
    height: calc(var(--checkbox-height) / 2);
    animation: dothabottomcheck 0.2s ease 0s forwards;
  }
  & input[type='checkbox']:checked + span::before,
  & span.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    animation: dothatopcheck 0.3s ease 0s forwards;
  }
}

.label {
  user-select: none;
  font-size: 14px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  position: absolute;
  width: var(--checkbox-height);
  height: var(--checkbox-height);
  opacity: 0;
  z-index: 5;
}

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}
