.hero {
  height: calc(100vh - var(--header-height-big) - var(--gap) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.block {
  display: flex;
  font-size: 32px;
  gap: 1.5rem;
}

