.dot {
  cursor: pointer;
  aspect-ratio: 1;
  height: 3rem;
  width: 3rem;
  margin: 0;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s;
  align-self: center;
  background: radial-gradient(
    circle at 50% 30%,
    #ffa93f,
    #f1a344 10%,
    var(--color-brand) 80%,
    #c76e02 100%
  );

  &:before {
    content: '';
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(
      circle at 50% 0px,
      #ffffff1f,
      rgba(255, 255, 255, 0) 58%
    );
    filter: blur(5px);
    z-index: 2;
  }
}

.pulse {
  animation: 3s ease 0s infinite pulse;
  mask-image: radial-gradient(
    black,
    rgb(#000, 85%),
    rgb(#000, 60%),
    rgb(#000, 10%)
  );
}

.pulseSlow {
  animation: 6s ease-in-out 0s infinite pulse1;
  mask-image: radial-gradient(
    black,
    rgb(#000, 85%),
    rgb(#000, 60%),
    rgb(#000, 15%)
  );

  &:hover {
    animation: none;
  }
}

@keyframes pulse {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  30%,
  80% {
    opacity: 0.15;
  }
}

@keyframes pulse1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  30%,
  80% {
    opacity: 0.45;
  }
}
